*{
    height: full;
    width: full;
    background-color: black;
    position: relative;
}
#font{
    color: rgb(212, 123, 35);
    font-size:4rem;
    height: 300px;
    width: 500px;
    font-weight: 500;
    font-size: 35px;
    left: 35%;
    margin: 2px;
    padding: 4px;
}
#pass{
    color: rgb(218, 7, 7);
    margin: 2px;
    background-color: aliceblue;
}
button{
    color:white;
    background-color: rgb(87, 87, 212);
}
#range{
    cursor: pointer;
}
#count, #char,#number{
    font-size: 20px;

}